<<<<<<< HEAD
body{
    background: #ffcaca;
    margin: 0;
}

.nav-item {
    display: inline-block;
}
a{
    text-decoration: none;
}

.container{
    display:flex;
    place-content: space-between;
}

.image-paper{
    width: 28rem;
    height: 28rem;
}

.height{
    height: 30vh;
   }
   

   .search{
   position: relative;
   box-shadow: 0 0 40px rgba(51, 51, 51, .1);
   width: 100vh;
     
   }

   .search input{

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


   }


   .search input:focus{

    box-shadow: none;
    border: 2px solid blue;


   }

   .search .fa-search{

    position: absolute;
    top: 20px;
    left: 16px;

   }
=======
>>>>>>> 85572c54ae7256d2c829533e135b846ecc390e84

/*Open Weather API Result section Style*/




/*About-us Section style*/



#about-section{
    
    background-color: #FFCACA;
    padding-bottom: 35px;
}

.about-heading{
    padding-left: 120px;
}

.about-heading h1{
    width: fit-content;
    font-size: 50px;
    
    
}

.about-row{
    text-align: center;
}

.about-img{
    height: 25rem;
    width: 28rem;
    

}



.car-back{
    border-radius:20px;
}

.card-body{
    position: relative;
    top:0;
    left:0;
    padding-top: 45px;
   
}
.about-harsh-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
    position: absolute;
    top: -100px;
    left: 70px;
   
}

.about-shyam-pic{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
  top: -100px;
  left: 70px;
}

.about-icon{
    width: 35px;
    height: 35px;
}

.about-pad1{
    padding: 100px;
    padding-top: 130px;
}

.about-pad2{
    padding: 100px;
    padding-top: 130px;
}

.about-pad3{
    padding: 100px;
}
/*Footer Section*/
.Parent-footer{
    position: relative;
}

.footer-tbox-parent-back{
    position: absolute;
  top: -50px;
  left: 70px;
  right: 70px;
  z-index: 9;
  
  

}

.footer-tbox{
    background-color:#ffffff ;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 10px;
   
}

.footer-tbox-back{
    background-color:#FAE6B3;
}

.footer-main-heading{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-main-button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 200px;
}

.footer-section-background{
    background-color:#FE9696;
    text-align: center;
    position:relative;
    top:0;
    left:0;
}

.footer-section-background hr{
        margin:0px;
        width:100%;
        height: 2px;
        
        
}

.footer-feature-box{
    text-align: left;
    
}

.footer-fbox-pad1{
    padding-left: 300px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}

.footer-fbox-pad1 h4{
    width: fit-content;
}

.footer-fbox-pad1 ul{
    width:fit-content
}

.footer-fbox-pad2{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}

.footer-fbox-pad2 h4{
    width: fit-content;
}

.footer-fbox-pad2 ul{
    width: fit-content;
}

.footer-fbox-pad3{
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-feature-box ul{
    padding: 0%;
}

.footer-line{
    padding: 11px;

}

.copyright-pad{
    padding-bottom: 11px;
    padding-left: 200px;
    padding-right: 350px;
}
