body{
    background: #ffcaca;
    margin: 0;
}

.nav-item {
    display: inline-block;
}
a{
    text-decoration: none;
}

.container{
    display:flex;
    place-content: space-between;
}

.image-paper{
    width: 28rem;
    height: 28rem;
}

.height{
    height: 30vh;
   }
   

   .search{
   position: relative;
   box-shadow: 0 0 40px rgba(51, 51, 51, .1);
   width: 100vh;
     
   }

   .search input{

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


   }


   .search input:focus{

    box-shadow: none;
    border: 2px solid blue;


   }

   .search .fa-search{

    position: absolute;
    top: 20px;
    left: 16px;

   }

/*Open Weather API Result section Style*/




/*About-us Section style*/

#about-section{
    text-align: center;
    background-color: #FFCACA;
}

.about-img{
    height: 30rem;
    width: 28rem;

}

.about-pad1{
    padding: 100px;
}

.about-pad2{
    padding: 100px;
}

.about-pad3{
    padding: 100px;
}
/*Footer Section*/


.footer-tbox-parent-back{
    background-color: aliceblue;
}

.footer-tbox{
    background-color:#FAE6B3 ;
    padding-left: 500px;
    padding-right: 200px;
}

.footer-section-background{
    background-color:#FE9696;
    text-align: center;
}

.footer-section-background hr{
        margin:0px;
        width:100%;
        height: 2px;
        
        
}

.footer-feature-box{
    text-align: left;
    
}

.footer-fbox-pad1{
    padding-left: 300px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}

.footer-fbox-pad1 h4{
    width: fit-content;
}

.footer-fbox-pad1 ul{
    width:fit-content
}

.footer-fbox-pad2{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}

.footer-fbox-pad2 h4{
    width: fit-content;
}

.footer-fbox-pad2 ul{
    width: fit-content;
}

.footer-fbox-pad3{
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-feature-box ul{
    padding: 0%;
}

.footer-line{
    padding: 11px;

}

.copyright-pad{
    padding-bottom: 11px;
    padding-left: 200px;
    padding-right: 350px;
}